<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="me.alex">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <TestAppender/>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestAppender"/>
        </Root>
    </Loggers>
</Configuration>